<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Корчан</title>
    <style>
        body {
            background: #EEEEEE;
        }
    </style>
</head>
<body>
<body>
<style>
    button.link { background:none; border:none; color: #FF6600; font-family: "Times New Roman"}
</style>
<center><p style = color:#FF6600><font size="+10">Бред</font></p></center>
<form method="GET" action="newthread">
<center><font size="+3"><form method="GET" action="/newthread">
    <button class = "link" type="submit" style="font-size : 30px; width: 100%; height: 100px;"> Создать тред </button>
</form></center>

</form>
<hr>
<div th:each="thread : ${threads}">
    <a th:href="@{/thread/{id}(id=${thread.getId()})}" th:text="${thread.getText()}">Text</a>
</div>

</body>
</html>